/* Styling for the entire form container */
* {
    font-family: Arial, Helvetica, sans-serif;
  }
.request-form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px;
    
    border-radius: 5px;
    background-color: #f9f9f9;
    
  }
  
  /* Styling for the form title */
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Styling for form labels */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Styling for text and number input fields */
  input[type="text"],
  input[type="number"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 16px;
    color: black;
    background-color: white;
  }
  
  /* Styling for read-only input fields */
  input[readonly] {
    background-color: #f0f0f0;
  }
  
  /* Styling for the text area input */
  textarea {
    width: 280px;
    padding: 20px;
    margin-bottom: 5px;
    border: 1px solid #070707;
    border-radius: 3px;
    background-color: white;
    font-size: 16px;
    color: black;
  }
  
  /* Styling for the select input */
  select {
    width: 320px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  /* Styling for the submit button */
  button {
    float: right;
    width: 100px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
  }

  /* button[type="submit"] {
    background-color: #007bff;
    color: #f7f2f2;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    
  } */
  
 
  